{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">

            <h1>Input file.</h1>
            <input type="file" id="files" name="files[]" />

        </div>
    </div>
{% endblock %}

{% block stylesheets %}
<style>

</style>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        function handleFileSelect(evt) {
            var files = evt.target.files;

            var reader = new FileReader();

            reader.onload = function() {
                processData(reader.result);
            };

            reader.readAsBinaryString(files[0]);
        }

        document.getElementById('files').addEventListener('change', handleFileSelect, false);

        function processData(allText) {

            var allTextLines = allText.split(/\r\n|\n/);
            var headers = allTextLines[0].split(',');

            for (var i=1; i<allTextLines.length; i++) {
                var data = allTextLines[i].split(',');
                if (data.length == headers.length) {

                    var tarr = [];
                    for (var j=0; j<headers.length; j++) {
                        tarr.push(data[j]);
                    }

                    $.ajax({
                        type: "POST",
                        url: "http://127.0.0.1:8000/email",
                        data: JSON.stringify({ name: tarr[0], email: tarr[1] }),
                        contentType: "application/json; charset=utf-8",
                        success: function(data){
                            console.log(data);
                        },
                        dataType: "html"
                    });
                }
            }
        }
    </script>


{% endblock %}
